<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <!--  constructor injection -->
  <!-- <bean id="tv" class="polymorphism10.SamsungTV" 
            init-method="initMethod" 
            destroy-method="destroyMethod"
            scope="prototype">
        <constructor-arg ref="sony"></constructor-arg>
        <constructor-arg value="270000"></constructor-arg>    
  </bean> -->
  
  <!--  생성자 매개변수의 순서는 index로 지정, index는 0부터 시작 -->
  <bean id="tv" class="polymorphism10.SamsungTV" 
            init-method="initMethod" 
            destroy-method="destroyMethod"
            scope="prototype">
            <constructor-arg  index="1" value="270000"></constructor-arg>
            <constructor-arg  index="0"  ref="sony"></constructor-arg> 
  </bean>
  
  <bean id="sony" class="polymorphism10.SonySpeaker"/>          
  <!--  scope를 protoype으로 지정하면 singleton이 아닌 개별 객체로 생성됨, default는 싱글톤. -->          
</beans>
